/* Inherits from ProjectsSection.css
.section.awards-section {
  background-color: var(--color-background);
}


.awards-section .item-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
} */