/* .gallery-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
}

.cursor-image {
  position: absolute;
  width: 300px;
  height: auto;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  object-fit: cover;
  z-index: 50;
} */
