/* .gallery-instruction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  font-size: var(--font-size-body);
  text-transform: uppercase;
  pointer-events: none;
}

.section.gallery-section {
  background-color: var(--color-background);
}

@media (min-width: 768px) {
  .gallery-instruction {
    display: none;
  }
} */


.gallery-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
}

.cursor-image {
  position: absolute;
  width: 300px;
  height: auto;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  object-fit: cover;
  z-index: 50;
}
