.section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-section);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-fast), visibility var(--transition-fast);
  overflow-y: auto;
}

.section.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.section-title {
  position: fixed;
  top: 11rem;
  left: 3rem;
  z-index: 3;
  overflow: hidden;
  font-size: var(--font-size-h1);
  text-transform: uppercase;
  color: var(--color-white);
}

.section-title span {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.59, 0, 0.32, 0.99);
}

.section.active .section-title span {
  transform: translateY(0);
  transition-delay: 0.3s;
}

.section-scroll {
  width: 100%;
  min-height: 100vh;
  padding: 12rem 0 6rem;
}

.section-content {
  width: calc(100% - 6rem);
  max-width: 42rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section-title {
    left: 6rem;
  }

  .section-content {
    width: calc(100% - 12rem);
  }
}

@media (min-width: 1024px) {
  .section-title {
    top: 50%;
    transform: translateY(-50%);
  }
}


/*  */

/* .video-background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
} */

/* .video-background-layer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: thumbnailFadeIn 0.8s ease forwards;
} */

/* @keyframes thumbnailFadeIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */

.section-content {
  position: relative;
  z-index: 2;
}
