
/* src/components/VideoPreview/VideoPreview.css */
.video-preview {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.preview-thumbnail,
.preview-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.preview-thumbnail {
  opacity: 1;
  z-index: 1;
}

.preview-video {
  opacity: 0;
  z-index: 2;
}

.video-preview:hover .preview-thumbnail {
  opacity: 0;
}

.video-preview:hover .preview-video {
  opacity: 1;
}
/* VideoPreview.css */
.vimeo-preview-container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.preview-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
