/* .footer {
  position: fixed;
  right: 3rem;
  bottom: 3.1rem;
  z-index: var(--z-index-footer);
  display: flex;
  flex-direction: column;   
  align-items: flex-start;
  gap: 0;                   
  line-height: 1;           
  color: var(--color-white);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  opacity: 0;
  transition: opacity 1s ease;
}

.footer.visible {
  opacity: 1;
}

.footer-copy {
  display: none;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
   
}

.footer a {
  color: var(--color-white);
  text-decoration: none;
  transition: color var(--transition-fast);
}

.footer a:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .footer {
    right: 8rem;
    bottom: 6rem;
    transform: rotate(-90deg) translate(100%);
    transform-origin: bottom right;
  }

  .footer-copy {
    display: block;
  }
} */
